body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background-color: #727fdd;
}

/*header yay*/
header {
  background-color: #727fdd;
  padding: 1rem 10px;
}

/*lets get some drop shadow!*/
header span {
  color: #ebfa12;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.6);
  font-size: 2rem;
  font-weight: 600;
}

/*nav bar*/
nav {
  background-color: #8305f2;
}

nav ul{
  margin: 0;
  padding: 0 10px;
  list-style-type: none;
  display: flex;
}

nav a {
  padding: .7rem 1rem;
  display: block;
  text-decoration: none;
  font-size: 1.4rem;
  color: #fdb4f8;
  font-weight: 500;
}

nav li.active a {
  background-color: #4d61ff;
  color: #fc32ef;
}

nav li a:hover {
  color: white;
}

/*main stuff*/
main {
  padding: .9rem 10px;
}

main h1 {
  color: #ebfa12;
}

main h2{
  color: #fdb4f8;
  margin-bottom: .25rem;
}

main p{
  margin: 0;
  color: #1e1a1a;
}


main ol {
  padding: .5rem 30px;
}

main dl dt {
  font-weight: 500;
  margin-top: .5rem;
}

main dl dd {
  font-size: .95rem;
  margin-left: 25px;
}

main ul{
  list-style-type: "\1F44D";
}

main ul li {
  line-height: 66%;
  margin-bottom: .9rem;
  font-size: .8rem;
}

main strong {
  font-weight: 700;
  color: black;
}

main em {
  font-weight: 300;
}

/*the address, turns out fat borders are fun*/
main address {
  font-style: normal;
  background-color: #4d61ff;
  padding: .5rem;
  border-radius: 10px;
  border: 20px groove #8305f2;
  width: 198px;
}

main a {
  color: #024873;
}

main a:hover {
  color: rgb(180,4,18);
}


figure.main-image{
    margin: 0 0 0 10px;
    width: 20%;
    float: right;
}

figure.main-image img{
    width: 100%;
    height: auto;
}

figure.main-image figcaption{
    text-align: center;
    font-size: .8rem;
}

div.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
}
div.gallery figure{
    margin: 0;
}


/* form stuff here */

.myForm fieldset{
    border:5px solid #8305f2;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.myForm legend{
    color: #ebfa12;
    font-size: .9rem;
}

.myForm label {
    margin-bottom: .7rem;
}

.myForm label, .myForm select, .myForm [type=text], .myForm [type=tel], .myForm [type=email], .myForm textarea{
    display: block;
}

.myForm [type=text], .myForm [type=tel], .myForm [type=email], .myForm select{
    border: solid 1px #ebfa12;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: "Inter", sans-serif;
}

.myForm textarea {
    height: 12rem;
    width: 500px;
    background-color: #eeeeee;
}

.myForm :required{
    background-color: rgba(156, 51, 53, .1);
}

.myForm ::placeholder{
  color: rgba(30, 26, 26, .5);
}

.myForm [type=checkbox] {
    background-color: #eeeeee;
}

.myForm [type=submit] {
    background-color: #4d61ff;
    border: 3px solid #8305f2;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
}




footer {
  background-color: #eaeaea;
  text-align: center;
  padding: 1rem 0;
  font-size: .8rem;
  width: 400px;
  margin: auto auto;
  color: #1e1a1a;
  clear: both;
}

footer p {
  margin: 0;
  letter-spacing: 3px
}